body {
    font-size: 16px;
}
div.screenCenter {
    width: 250px;
    height: 50px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.alert {
    color: red;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}
